@import "./variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// MOBIL FIRST
body {
    margin: 3rem;
}

button:focus, input:focus {
    box-shadow: none !important;
}



// HEADER
header {
    z-index: 10;
    #logo {
        width: 200px;
    }

    // MAIN SEARCH //
    .mainSearch {
        #mainSearch {
            .input-group {
                width: auto;

                #mainSearchInput, #inputBtn {
                    font-size: 16px;
                    border-bottom: 0;
                    border-right: 0;
                    background-color: $gray-300;
                    &::placeholder {
                        color: $gray-500;
                    }
                    .fas {
                        font-size: 20px;
                    }
                }
            }
        }
        .tags {
            width: auto;
            .btn {
                font-size: 12px;
            }
            .far {
                font-size: 14px;
            }
        }
    }


    // SUB SEARCH //
    .subSearch {
        width: auto;
        flex-direction: column;

        .input-group {
            display: flex;
            width: auto;
            .form-control {
                font-size: 18px;
                &::placeholder {
                    opacity: .5;
                    color: white;
                }
            }
        }

        #inactive {
            display: flex;
            width: 100%;
        }

        #active {
            display: none;
            width: 100%;
            margin-inline: 0;
            input {
                margin-inline-start: 0;
            }
            button {
                margin-inline-end: 0;
            }
            .tag-result {
                font-size: 14px;
                line-height: 2;
                column-count: 2;
                column-gap: 20px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

// MAIN RESULTS //
main {
    position: absolute;
    z-index: 0;
    top: 550px;
    left: 0;

    .container-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        .card {
            background-color: $gray-300;
            .card-img-top {
                width: auto;
                height: 200px !important;
            }
            .card-title {
                .fa-clock {
                    font-size: 24px;
                }
            }
            .card-text{
                max-height: 200px;
                font-size: 14px;
                p {
                    margin: 0;
                }
                .ingredients {
                    font-size: 13px;
                    max-height: 215px !important;
                    overflow: hidden;
                }
                .recipe p {
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}






// TABLETT
@media (min-width: 768px) {
    // HEADER
    header {
        #logo {
            width: 300px;
        }

        // MAIN SEARCH //
        .mainSearch {
            #mainSearch {
                .input-group {
                    width: auto;

                    #mainSearchInput, #inputBtn {
                        font-size: 25px;
                        .fas {
                            font-size: 40px;
                        }
                    }
                }
            }
            .tags {
                .btn {
                    font-size: 18px;
                }
                .far {
                    font-size: 24px;
                }
            }
        }

        // SUB SEARCH //
        .subSearch {
            flex-direction: row;
            align-items: flex-start;

            .input-group {
                .form-control {
                    font-size: 21px;
                }
            }

            #inactive {
                width: auto;
            }

            #active {
                width: auto;
                max-width: 40%;
                margin-inline: 10px;
                input {
                    margin-inline-start: -20px;
                }
                button {
                    margin-inline-end: -20px;
                }
                .tag-result {
                    font-size: 16px;
                    column-count: 1;
                }
            }
        }
    }

    // MAIN //
    main {
        top: 450px;
        left: 0;

        .container-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}


// DESKTOP
@media (min-width: 992px) {
    // HEADER //
    header {

        // SUBSEARCH //
        .subSearch {

            #active{
                max-width: 50%;

                .tag-result {
                    font-size: 18px;
                    line-height: 2;
                    column-count: 3;
                    column-gap: 20px;
                }
            }
        }
    }

    // MAIN //
    main {
        .container-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
        }
    }
}