@import "./variables_overrides.scss"; 
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin: 3rem;
}

#logo {
    width: 300px;
}

#inlineFormInputGroup, #inputBtn {
    background-color: $gray-300;
    font-size: 25px;
    .fas {
        font-size: 40px;
    }
}

#tags {
    .far {
        font-size: 25px;
    }
}
